<div id="<%= dom_id idea %>">
  <p>
    <strong class="label">Name:</strong>
    <%= idea.name %>
  </p>

  <p>
    <strong class="label">Description:</strong>
    <%= idea.description %>
  </p>

  <p>
    <strong id="picture-label" class="label">Picture:</strong>
    <%= idea.picture %>
<img src="<%= idea.picture %>">
  </p>

</div>
